/.project
.apt_generated
bin

## C++ excludes
# Compiled Object files
*.slo
*.lo

# Compiled Dynamic libraries
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

toolkit.xml
impl/nl/include/*.h
*.pm
.toolkitList

output
